
.background{
    background: rgb(216, 211, 211) ;
     width: 50%;
  height:70%;

padding-top: 70px;
padding-bottom: 10%;
justify-self: center;
margin-top: 60px;
}

.card{
    width: 550px;
  height:100px;

 background: white;
 position: relative;
 padding: 1.8rem;
place-items:start;
 transition: 0.5s ease-out;
 overflow: visible;
box-shadow: 0 15px 30px rgba(20, 20, 20, 0.2);
}
.card:hover{
  transform: scale(1.05);
	box-shadow: 0 50px 60px rgba(0, 0, 0, 0);
}


.card-details{
    color:black;
     height:100%;
margin-top: -20px;

}

.container{
   display: grid;
    grid-template-columns: repeat(1,1fr);
     grid-template-rows: repeat(1,1fr);
      gap: 3px;
  justify-items: center;
border-radius: 50px;
}



.itema{
place-content: center;
}


.itemc{
place-content: center;
}


/* tablets */
@media  (max-width: 767px) {
  .background{
   background: rgb(216, 211, 211) ;
     width: 50%;
  height:70%;

padding-top: 70px;
padding-bottom: 10%;
justify-self: center;
  }


.card{
    width: 550px;
  height:100px;
  border-radius: 5px;
 background: white;
 position: relative;
 padding: 1.8rem;
place-items:start;
 transition: 0.5s ease-out;
 overflow: visible;
box-shadow: 0 15px 30px rgba(20, 20, 20, 0.2);
}


}




@media (min-width: 600px) 
 {
  .background{
   background: rgb(216, 211, 211) ;
     width: 100%;
  height:70%;

padding-top: 70px;
padding-bottom: 10%;
justify-self: center;
  }


.card{
    width: 550px;
  height:100px;
  border-radius: 15px;
 background: white;
 position: relative;
 padding: 1.8rem;
place-items:start;
 transition: 0.5s ease-out;
 overflow: visible;
box-shadow: 0 15px 30px rgba(20, 20, 20, 0.2);
}


}



@media (min-width: 1023px) {
  .background{
   background: rgb(216, 211, 211) ;
     width: 50%;
  height:70%;

padding-top: 70px;
padding-bottom: 10%;
justify-self: center;
  }


  
.card{
    width: 550px;
  height:100px;
  border-radius: 15px;
 background: white;
 position: relative;
 padding: 1.8rem;
place-items:start;
 transition: 0.5s ease-out;
 overflow: visible;
box-shadow: 0 15px 30px rgba(20, 20, 20, 0.2);
}

}


@media (min-width:481px) and (max-width:600px) {
  
.background{
    background: rgb(216, 211, 211) ;
     width: 100%;
  height:70%;

padding-top: 70px;
padding-bottom: 10%;
justify-self: center;
margin-top: 60px;
}


.card{
    width: 400px;
  height:150px;
  border-radius: 15px;
 background: white;
 position: relative;
 padding: 1.8rem;
place-items:start;
 transition: 0.5s ease-out;
 overflow: visible;
box-shadow: 0 15px 30px rgba(20, 20, 20, 0.2);
}

}






@media (min-width:340px) and (max-width:481px) {
  
.background{
    background: rgb(216, 211, 211) ;
     width: 100%;
  height:70%;

padding-top: 70px;
padding-bottom: 10%;
justify-self: center;
margin-top: 60px;
}


.card{
    width: 350px;
  height:200px;
  border-radius: 15px;
 background: white;
 position: relative;
 padding: 1.8rem;
place-items:start;
 transition: 0.5s ease-out;
 overflow: visible;
box-shadow: 0 15px 30px rgba(20, 20, 20, 0.2);
}

}




